@use '/src/styles/variables' as vars;

.root {
  position: sticky;
  top: vars.$headerHeight + vars.$contentVerticalPadding;
  flex: 0 0 408px;
  border-radius: 8px;
  background-color: white;
  padding: 24px;
  //height: calc(100vh - #{vars.$contentVerticalPadding} * 2 - #{vars.$headerHeight});
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
}
