$containerMaxWidth: 1856px;

$colorGray1: #333333;
$colorOrange: #ff5500;
$colorTextTertiary: #999fa6;

$fontFamilyHeader: 'Roboto', 'sans-serif';
$fontFamilyInputs: var(--font-inputs), 'sans-serif';
