$containerMaxWidth: 1856px;

$colorGray1: #333333;
$colorOrange: #ff5500;
$colorOrangeDisabled: #ffa375;
$colorTextPrimary: #1b1f23;
$colorTextTertiary: #999fa6;
$colorBorder: #e1e3e6;

$fontFamilyHeader: 'Roboto', 'sans-serif';
$fontFamilyInputs: var(--font-inputs), 'sans-serif';
