@use '/src/styles/variables' as vars;

.image {
  margin-right: 24px;
  border-radius: 8px;
  object-fit: cover;
}

.root {
  display: flex;
  border-radius: 8px;
  background-color: white;
  padding: 24px;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.genre {
  font-style: italic;
  line-height: 20px;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1;
}
