@use 'sass:math' as math;
@use '/src/styles/variables' as vars;

$inputHeight: 40px;

.root {
  position: relative;
}

.icon {
  position: absolute;
  top: 10px;
  right: 16px;
  transform: rotate(180deg);
  transition: transform 0.125s ease-in-out;

  &.isOpen {
    transform: rotate(0deg);
  }
}

.input {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 16px;
  width: 100%;
  height: $inputHeight;
  font-family: vars.$fontFamilyInputs;
  user-select: none;

  &::placeholder {
    color: vars.$colorTextTertiary;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible,
  &.isOpen {
    border-color: vars.$colorOrange;
  }
}

:export {
  inputHeight: math.div($inputHeight, 1px);
}
