.root {
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  padding: 24px;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  transform: rotate(180deg);
  width: 32px;
  height: 32px;

  &.isOpen {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.content {
  margin-top: 16px;
  line-height: 1.5;
}
