@use '/src/styles/variables' as vars;

.root {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: vars.$colorGray1;
  height: vars.$headerHeight;
  color: white;
}

.cartButton {
  cursor: pointer;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
}

.titleLink {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.cartButtonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.amount {
  border-radius: 8px;
  background-color: vars.$colorOrange;
  padding: 6px 10px;
  color: white;
  font-size: 14px;
}
