@use '/src/styles/variables' as vars;

.root {
  background-color: vars.$colorGray1;
  padding: 24px 32px;
}

.cartButton {
  cursor: pointer;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
}
